body {
    margin: 0px;
}

.header {
    background-color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    position: fixed;
    margin-top: -109px;
    z-index: 1;
    box-shadow: 0px 0px 17px 2px rgb(97 97 97 / 50%);
}

.pokodex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 200px;
    margin-top: 108px;
}


.card {
    width: 300px;
    height: 485px;
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    color: white;
    text-align: center;


    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 1;
    border-radius: 10px;
}

.card:hover .pokemonName {
    color: #ffffff;
}

.card .pokemonName {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    transition: color 0.3s ease;
}

.pokemonName {
    font-size: 24px;
    margin-top: 10px;
    font-family: revert;
}

.moves {
    max-width: 100%;
    max-height: 200px;
    margin: 20px auto;
}

.height {
    font-size: 18px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    display: none;
    border-radius: 20px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 105px;
}

.previous,
.next {
    position: absolute;
    top: 50%;
    font-size: 36px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transform: translateY(-50%);
}

.previous {
    left: 20px;
}

.next {
    right: 20px;
}

.img_poko {
    width: 200px;
    height: 50px;
    cursor: pointer;
}

#loadMoreButton {
    padding: 20px 20px;
    background: linear-gradient(135deg, #ff0092c4, #00c6ff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    font-family: revert;
}

#loadMoreButton:hover {
    background-color: #008000;
    color: #fff; 
}

#loadMoreButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -173px;
    padding-bottom: 30px;
}

.type {
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    text-transform: uppercase;
}

.type-normal {
    background-color: #A8A878;
    margin-left: 20px;
    margin-right: 20px;
}

.type-fighting {
    background-color: #C03028;
    margin-left: 20px;
    margin-right: 20px;
}

.type-flying {
    background-color: #A890F0;
    margin-left: 20px;
    margin-right: 20px;
}

.type-poison {
    background-color: #A040A0;
    margin-left: 20px;
    margin-right: 20px;
}

.type-ground {
    background-color: #E0C068;
    margin-left: 20px;
    margin-right: 20px;
}

.type-rock {
    background-color: #B8A038;
    margin-left: 20px;
    margin-right: 20px;
}

.type-bug {
    background-color: #A8B820;
    margin-left: 20px;
    margin-right: 20px;
}

.type-ghost {
    background-color: #705898;
    margin-left: 20px;
    margin-right: 20px;
}

.type-steel {
    background-color: #B8B8D0;
    margin-left: 20px;
    margin-right: 20px;
}

.type-fire {
    background-color: #F08030;
    margin-left: 20px;
    margin-right: 20px;
}

.type-water {
    background-color: #6890F0;
    margin-left: 20px;
    margin-right: 20px;
}

.type-grass {
    background-color: #78C850;
    margin-left: 20px;
    margin-right: 20px;
}

.type-electric {
    background-color: #F8D030;
    margin-left: 20px;
    margin-right: 20px;
}

.type-psychic {
    background-color: #F85888;
    margin-left: 20px;
    margin-right: 20px;
}

.type-ice {
    background-color: #98D8D8;
    margin-left: 20px;
    margin-right: 20px;
}

.type-dragon {
    background-color: #7038F8;
    margin-left: 20px;
    margin-right: 20px;
}

.type-dark {
    background-color: #705848;
    margin-left: 20px;
    margin-right: 20px;
}

.type-fairy {
    background-color: #EE99AC;
    margin-left: 20px;
    margin-right: 20px;
}

.move-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.move {
    width: 48%;
    margin-bottom: 10px;
}

/* Allgemeine Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.card-details {
    display: flex;
    flex-wrap: wrap;
    max-width: 375px;
    margin-top: 100px;
    background: linear-gradient(to right, #6bb4ff, #8effd4);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 25px;
}

.card-image img {
    max-width: 200px;
    height: auto;
}

.card-info {
    margin-left: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.pokemonOrder,
.pokemonHeight,
.pokemonWeight,
.pokemonAbility,
.pokemonType {
    margin: 5px 0;
    font-family: revert;
}

.pokemonNav {
    margin-top: 20px;
}

.navButton {
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.navButton:hover {
    background-color: #0600ff;
}

.pokemonTab {
    display: none;
    margin-top: 20px;
}

.moveListContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

.move {
    background: linear-gradient(177deg, #1CB5E0 0%, #000851 100%);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.baseStatsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.baseStatsList li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.baseStatsList li:before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    margin-right: 10px;
}

/* Farbige Balken für Base Stats */
.stat {
    display: flex;
    align-items: center;
}

.stat-name {
    width: 80px;
}

.stat-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.stat-bar-inner {
    height: 100%;
    background-color: #4caf50;
}

.stat-value {
    width: 40px;
}

/* Overlay-Stil */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: none;
    z-index: 1000;
}

.pokemonInfo {
    font-family: revert;
    font-size: 19px;
}

.input{
    width: 250px;
    height: 30px;
    border-radius: 15px;
    font-family: revert;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
}
   

/* CSS */
.input-field {
    position: relative;
}


.input-field input:focus {
    outline: none;
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.3);
}

.input-field label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
    pointer-events: none;
    transition: 0.3s ease-out;
}

.input-field input:focus+label,
.input-field input:not(:placeholder-shown)+label {
    top: -15px;
    font-size: 12px;
    color: #6c63ff;
}

.testdatei{
    background-color: white;
    border-radius: 10px;
    
}



  .card-image {
    flex: 0 0 100%;
    text-align: center;
  }

  .card-info {
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 10px;
  }

  .pokemonTab {
    display: none;
  }

  .pokemonTab.active {
    display: block;
  }

  .baseStatsTab {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 10px;
    padding: 10px;
    border-radius: 10px;
    font-family: revert;
    text-align: center;
  }

  .movesTab {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 10px;
    font-family: revert;
    text-align: center;
    
  }

  .typesTab {
    background-color: #eeccff;
    padding: 10px;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    border-radius: 10px;
    text-align: center;
    font-size: 26px;
  }

  .pokemonNav {
    text-align: center;
    margin-bottom: 10px;
    display: flex;

  }

  .navButton {
    margin: 0 5px;
  }
  
  .moveListContainer {
    max-height: 200px;
    overflow-y: auto;
  }
  
  .info-text{
    text-align: center;
    padding: 50px;
  }